.main {
    background-color: rgba(197, 191, 224, 0.879);
}

.welcome {
    background-color: chartreuse;
    padding-top: 250px;
    padding-bottom: 250px;
    align-items: left;
}

.navbar {
    background-color: cornsilk;
}

.navInner {
    display: grid;
    grid-template-columns: auto;
}

.footer {
    background-color:cornsilk;
    padding: 50px;
    position: relative;
}

.photos {
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative
}

.photoImg {
    width: 400px;
    height: 250px
}