.main {
    background-color: rgba(197, 191, 224, 0.879);
}

.welcome {
    background-color: chartreuse;
    padding: 150px;
}

.navbar {
    background-color: cornsilk;
}

.navInner {
    display: grid;
    grid-template-columns: auto;
}

.footer {
    background-color:rgba(197, 191, 224, 0.879);
    padding: 50px;
}