.main {
    background-color: rgba(197, 191, 224, 0.879);
}

.welcome {
    background-color: chartreuse;
    padding-top: 150px;
    padding-bottom: 150px;
    align-items: left;
}

.navbar {
    background-color: cornsilk;
}

.navInner {
    display: grid;
    grid-template-columns: auto auto auto;
}

.footer {
    background-color:cornsilk;
    padding: 50px;
    position: relative;
}

.photogrid {
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative
}

.photoImg {
    width: 275px;
    height: 165px;
}

.button {
    background-color: red;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    position: absolute
}

.userDiv {
    background-color: seashell;
    padding: 100px
}